<form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="addComment()" ng-controller="CommentController">

    <h4>Post a comment:</h4>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="title" ng-model="comment.authorName"
               placeholder="Enter your name..." required/>
    </div>

    <div class="form-group">
        <label>Email</label>

        <input type="email" class="form-control" name="title" ng-model="comment.authorEmail"
               placeholder="Enter your email address..."/>
    </div>

    <div class="form-group">
        <label>Text</label>
        <textarea class="form-control" name="text" ng-model="comment.text" rows="6"
                  placeholder="Enter entry text here..." required></textarea>
    </div>
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span> Submit
    </button>
</form>