body {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav a {
    cursor: pointer !important;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.light {
    color: #999999;
}

.sidebar ul  {
    padding: 0 5px;
    list-style-type: none;
}

.sidebar ul li {
    margin: 0;
    padding: 2px 0;
}

.title a {
    color: #999;
}

.title a:hover {
    color: #777;
    text-decoration: none;
}

.space-right {
    padding-right: 10px;
}

.empty {
    margin: 50px 0;
}

.empty a {
    cursor: pointer;
}

.lightgray, .empty {
    color: #999;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #777;
}

/* Customize container */
@media (min-width: 750px) {
  .container {
    max-width: 750px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Entries */
.entries {
  margin: 20px 0;
}
.entries p + h4 {
  margin-top: 28px;
}

.entry {
    position: relative;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.entry p {
	margin-bottom: 35px;
}

.entry-header {
	margin-bottom: 25px;
}

.entry-header .small {
	color: #777;
}

.entry-footer {
	margin-top: 25px;
	margin-bottom: 10px;
}

.entry h2 {
    margin-bottom: 2px;
    padding-bottom: 5px;
}

.edit-menu {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.edit-menu a {
    cursor: pointer;
}

/* Comments */

.comments {
    margin-top: 15px;
}

.comments h3 {
    margin-bottom: 50px;
}

.comment {
    margin: 25px 0;
    border-bottom: 1px dotted #e5e5e5;
}

form h4 {
    margin: 25px 0;
}

.comments form {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

/* Categories */

.edit-menu-category {
    top: 5px;
    right: 15px;
}

.category-header {
    padding-right: 50px;

}

/* Misc */
.center {
	text-align: center;
	margin: 45px 0px;
}

.spinner {
	height: 50px;
	width: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .entries,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Loading bar spinner */

#loading-bar .peg {
  -moz-box-shadow: #b9453c 1px 0 6px 1px;
  -ms-box-shadow: #b9453c 1px 0 6px 1px;
  -webkit-box-shadow: #b9453c 1px 0 6px 1px;
  box-shadow: #b9453c 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #b9453c;
  border-left-color: #b9453c;
}


#loading-bar .bar {
    background: #b9453c;
}

/* Modal overrides */
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Animations */

div.ng-enter {
    transition: all 0.25s ease;
}

div.ng-exit {
    transition: all 0.25s ease;
}

div.ng-enter {
    opacity: 0;
}

div.ng-enter.ng-enter-active {
    opacity: 1;
}

div.ng-leave.ng-leave-active{
    opacity:1;
}

div.ng-leave{
    opacity:0;
}