<div class="col-lg-8">
    <h4 class="light category-header">Category: {{category.name}}</h4>

    <div class="empty" ng-if="category.$resolved && category.entries.length == 0">
        No entries in category.
    </div>
    <div class="edit-menu edit-menu-category" ng-if="user">
        <a ng-click="editCategory(category)"><span class="glyphicon glyphicon-pencil space-right"></span></a>
        <a ng-click="deleteCategory(category, 'Category', true)"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
    <div class="entries fade" ng-class="{in: category.entries}">
        <div class="entry" ng-repeat="entry in category.entries">
            <h2><a href="#/entries/{{entry.id}}" class="thumb">{{entry.title}}</a></h2>

            <div class="entry-header"><span class="small">Posted {{entry.dateCreated | date: 'fullDate'}}</span></div>
            <p>{{entry.text}}</p>

            <div class="entry-footer"><a href="#/entries/{{entry.id}}#comments"><span class="small">{{entry.comments.length}} Comment(s)</span></a>
            </div>
            <div class="edit-menu" ng-if="user">
                <a ng-click="editEntry(entry)"><span class="glyphicon glyphicon-pencil space-right"></span></a>
                <a ng-click="deleteEntry(entry, 'Entry')"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>