<div class="col-lg-8">
    <div class="entries">
        <div class="entry">
            <h2>{{entry.title}}</h2>

            <div class="entry-header"><span class="small">Posted {{entry.dateCreated | date: 'fullDate'}} <span
                    ng-show="entry.category">under <a
                    href="#/categories/{{entry.category.id}}">{{entry.category.name}}</a></span></span></div>
            <p>{{entry.text}}</p>

            <div class="entry-footer"><a href="#/" title="Back">&laquo; all entries</a></div>
            <div class="edit-menu" ng-if="user">
                <a ng-click="editEntry(entry)"><span class="glyphicon glyphicon-pencil space-right"></span></a>
                <a ng-click="deleteEntry(entry, 'Entry', true)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
        <div class="comments" id="comments">
            <h3 ng-if="entry.comments.length != 0">Comments:</h3>
            </div>
            <div class="comment" ng-repeat="comment in entry.comments">
                <h5><span class="lightgray"># {{$index + 1}}: Posted by <a href="mailto:{{comment.authorEmail}}" ng-if="comment.authorEmail">{{comment.authorName}}</a><span ng-if="!comment.authorEmail">{{comment.authorName}}</span></span> </h5>
                <p>{{comment.text}}</p>
            </div>
            <div ng-include="'views/comment/comment_edit.html'"></div>
        </div>
    </div>
</div>
