<form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="submit()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{edit ? 'Edit' : 'Add'}} an Entry</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" ng-model="entry.title"
                   placeholder="Pick an entry title..." required/>
        </div>

        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" name="text" ng-model="entry.text" rows="12"
                      placeholder="Enter entry text here..." required></textarea>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="entry.category" ng-options="category.name for category in categories track by category.id">
                <option value="">Choose Category</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
    </div>
</form>