<div class="col-lg-8">
    <div class="empty" ng-if="entries.$resolved && entries.length == 0">
        No entries yet. Why don't you <a ng-click="editEntry()">add</a> a new one?
    </div>
    <div class="entries">
        <div class="entry" ng-repeat="entry in entries">
            <h2><a href="#/entries/{{entry.id}}" class="thumb">{{entry.title}}</a></h2>

            <div class="entry-header">
                    <span class="small">
                        Posted {{entry.dateCreated | date: 'fullDate'}} <span ng-show="entry.category">under <a
                            href="#/categories/{{entry.category.id}}">{{entry.category.name}}</a></span>
                    </span>
            </div
            <p>{{entry.text}}</p>

            <div class="entry-footer"><a href="#/entries/{{entry.id}}#comments"><span class="small">{{entry.comments.length}} Comment(s)</span></a>
            </div>
            <div class="edit-menu" ng-if="user">
                <a ng-click="editEntry(entry)"><span class="glyphicon glyphicon-pencil space-right"></span></a>
                <a ng-click="deleteEntry(entry, 'Entry')"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>
