<form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="login()" ng-controller="LoginController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="invalid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid username and password.
        </div>
        <div class="form-group">
            <label for="username">User Name:</label>
            <input id="username" ng-model="username" type="text" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" ng-model="password" type="password" class="form-control" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span> Login
        </button>
    </div>
</form>