<div class="col-md-4 sidebar" ng-controller="SidebarController">
    <div class="navbar navbar-default">
        <div class="container-fluid" >
            <h4>Categories</h4>
            <small class="lightgray" ng-if="categories.$resolved && categories.length == 0">No categories yet.</small>
            <ul>
                <li ng-repeat="category in categories">
                    <a href="#/categories/{{category.id}}">{{category.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>