<div class="header" ng-controller="TopbarController">
    <ul class="nav nav-pills pull-right" ng-if="user">
        <li><a ng-click="addEntry()"><span class="glyphicon glyphicon-file"></span> Add Entry</a></li>
        <li><a ng-click="addCategory()"><span class="glyphicon glyphicon-paperclip"></span> Add Category</a></li>
        <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    <ul class="nav nav-pills pull-right" ng-if="!user">
        <li><a ng-click="showLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <h3 class="title text-muted"><a href="#/" title="Home">myblog</a></h3>
</div>